* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  user-select: none;
  letter-spacing: normal;
}

h1,
h2,
p {
  color: #fff;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 54px;
}

h2 {
  font-size: 50px;
  letter-spacing: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #fff;
  font-size: 10px;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.5s;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

header img {
  height: 90px;
  margin-right: 900px;
  cursor: pointer;
}

header {
  position: fixed;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: transparent;
  text-align: right;
  align-items: center;
  padding: 0 5%;
  top: 0;
  width: 100%;
  height: 7rem;
  position: relative;
  font-size: clamp(0.66rem, 2vw, 1rem);
  border-bottom: 1px solid transparent;
  letter-spacing: 0.5rem;
  z-index: 100;
}

header {
  position: fixed;
  justify-content: flex-end;
  padding: 0 5%;
  width: 100%;
  z-index: 100;
  height: 7rem;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5rem;
}

header h1 {
  margin-top: 40rem;
  margin-right: 170px;
  font-size: 1rem;
  float: left;
  position: absolute;
}

nav {
  font-family: "Poppins", sans-serif;
  align-items: right;
  margin: 0 10px;
  margin-right: 9.1rem;
  font-size: 40px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

header a:hover {
  text-shadow: 0 0 14px currentColor;
}

.home {
  background-image: url(imagens/seção\ 2.png);
  margin-top: 500px;
  width: 100%;
  height: 400px;
  margin-block-start: none;
}

* {
  outline: none !important;
}

.home img {
  opacity: 40%;
}

.titulo {
  font-family: "Playfair Display", serif;
  position: absolute;
  font-size: 130px;
  bottom: 22%;
  z-index: 100;
  left: 65%;
  text-transform: uppercase;
}

.visao-geral {
  background-image: url(imagens/seção\ 3.png);
  width: 100%;
  height: 719px;
  margin-block-start: none;
  border: 0;
  display: flex;
}

.visao-geral h1 {
  font-size: 50px;
  margin-left: 170px;
  margin-right: 10px;
}

.visao-geral p {
  margin-top: 300px;
  margin-right: 10px;
}

.overview-image img {
  width: auto;
  height: 410px;
  width: 436px;
  border-radius: 60px;
}

.overview-content {
  max-width: 50%;
}

.overview {
  width: 100%;
  height: 600px;
  justify-content: space-between;
  padding: 40px 0px;
}

.bg-gradient {
  background: linear-gradient(
    -180deg,
    #000511 0%,
    #000511 20%,
    #000511 60%,
    rgb(0, 0, 0) 100%
  );
}

.overview .overview-container {
  width: 80%;
  justify-content: space-between;
}

.link-main {
  background-color: white;
  color: #000000;
  border-radius: 18px;
  padding: 5px 40px;
  font-size: 24px;
  width: fit-content;
}

.background-section {
  height: 100vh;
  position: relative;
}
.background-section img {
  background-size: auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 100%;
}

.objective {
  flex-direction: row-reverse;
}

.objective img {
  width: 500px;
}

.objective * {
  text-align: end;
}

.objective p,
.overview-content p {
  font-size: 25px;
  line-height: 1.3;
}

.cinco p {
  padding-bottom: 100px;
}

.slide img {
  width: 600px;
  height: 100%;
  margin-left: 1200px;
}

.explore {
  width: 100%;
}

.explore .content-text {
  width: 80%;
  padding-top: 40px;
}

.explore * {
  text-align: center;
}

.explore img {
  border-radius: 40px;
  margin-top: 30px;
  width: 750px;
}

.explore p {
  width: 60%;
  font-size: 25px;
}

.btn {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.cursor {
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: 16px;
  width: 7px;
  height: 120px;
  background: #928f8f;
  animation: blink 0.8s infinite;
}

.line-break {
  display: block;
  height: 20px;
  width: 100%;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.change-color {
  transition: background-color 0.9s ease-in-out;
}

.black-bg {
  background-color: rgb(05, 05, 05);
  height: 100px;
  border-bottom: 1px solid rgb(107, 104, 104);
  transition: all 0.4s ease !important;
}

header {
  height: 100px !important;
  z-index: 9999999999 !important;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-with-text {
  text-align: center;
  margin-left: 30px;
}

.image-with-text img {
  margin-top: 200px;
  width: 365px;
  margin-right: 20px;
}

.image-with-text p {
  margin-right: 20px;
  margin-top: 10px;
}

.tres img {
  width: 100%;
  height: 100%;
  opacity: 60%;
  filter: blur(5px);
}

.tres {
  background-image: url(imagens/seção\ 3.png);
  width: 100%;
  height: 1298px;
  margin-block-start: none;
  display: flex;
}

.tres img {
  width: 100%;
  height: 100%;
  opacity: 60%;
  filter: blur(5px);
}

.quatro {
  background-image: url(imagens/purple-bg.png);
  width: 100%;
  height: 600px;
  margin-block-start: none;
  border: 0;
  display: flex;
}

.cinco {
  background-image: url(imagens/bg-white-800px.png);

  width: 100%;
  height: 800px;
  margin-block-start: none;
  border: 0;
  display: flex;
}

.cinco h2 {
  font-size: 100px;
}




.content {
  z-index: 10;
}

main {
}

section {
  display: flex;
}

.vetor-3 img {
  margin-bottom: 20px;
  margin-left: 1200px;
  position: absolute;
  width: 450px;
  animation: floatAnimation 2s infinite ease-in-out alternate;
}
@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 40px);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 40px);
  }
}

/*Rodapé*/

footer {
  background-color: black;
  padding: 3rem;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  border-bottom: 2px solid rgba(255, 255, 255, 0.514);
}

.logo-footer img {
  height: 110px;
  max-width: 110px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.logo-footer h1 {
  margin-left: 10px;
  font-weight: 500;
}

.content-footer {
  width: 100%;
}

.content-footer .developers {
}

.logo-footer .logo-adv {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: auto;
  height: 110px;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding-top: 30px;
}

.developers,
.thanks,
.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.thanks ul {
  width: 60%;
}

.linha-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #999595; 
  padding: 5px;
  font-size: 16px;
  width: 250px; 
  outline: none; 
}

.linha-input:focus {
  border-bottom-color: #ffffff; 
}

h3 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

footer .feedback textarea {
  color: black;
  background-color: #fff;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
}
input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;

  color: white;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav {
  gap: 5px;
  margin: 0 !important;
}

header {
  justify-content: space-between;
}

header nav .links {
  font-weight: medium;
  font-size: 22px !important;
  white-space: nowrap;
  margin: 0 20px;
}

.logo {
  margin-left: 20px;
}

.logo img {
  width: auto;
  margin: 0;
}

nav .links:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .content-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}


