* {
  display: flexbox;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;

  color: #ffff;
}

body {
  background-color: #010717;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acontecimentoe {
  text-align: right;
}

.acontecimentod {
  text-align: left;
}

.linha-do-tempo {
  width: 89%;
  margin: 0 auto;
  margin-top: 140px;
}

.introducao {
  padding: 50px 0;
  border-bottom: 5px solid #a6bfff;
}

.introducao h2 {
  text-align: center;
  margin: 0 60px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao p {
  text-align: center;
}

.acontecimentoe h2,
.acontecimentod h2 {
  font-size: 70px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acontecimentoe h3,
.acontecimentod h3 {
  font-size: 31px;
  font-weight: 500;
  margin-bottom: 20px;
  white-space: nowrap;
}

.acontecimentoe .content h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #a6bfff;
  background-color: #010717;
  z-index: 20;
  right: -56px;
  border-radius: 50%;
}

header {
  background-color: transparent !important;
}

.acontecimentod .content h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #a6bfff;
  background-color: #010717;
  z-index: 20;
  left: -50px;
  border-radius: 50%;
}

.acontecimentoe .content {
  align-items: flex-end !important;
  padding-right: 30px;
  text-align: end;
}

.acontecimentod .content {
  align-items: flex-start !important;
  padding-left: 30px;
  text-align: start;
}

.acontecimentod {
  flex-direction: row-reverse;
}

.acontecimentod img,
.acontecimentoe img {
  min-width: 50%;
}

.timeline {
  margin-top: 50px;
  position: relative;
  padding-bottom: 140px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 14px;
  background-color: #a6bfff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
